@model OnChurch.Web.Models.EditMemberViewModel

<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Document" class="control-label"></label>
    <input asp-for="Document" class="form-control" />
    <span asp-validation-for="Document" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PhoneNumber" class="control-label"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ProfessionId" class="control-label"></label>
    <select asp-for="ProfessionId" asp-items="Model.Professions" class="form-control"></select>
    <span asp-validation-for="ProfessionId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CampusId" class="control-label"></label>
    <select asp-for="CampusId" asp-items="Model.Campuses" class="form-control"></select>
    <span asp-validation-for="CampusId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="SectionId" class="control-label"></label>
    <select asp-for="SectionId" asp-items="Model.Sections" class="form-control"></select>
    <span asp-validation-for="SectionId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ChurchId" class="control-label"></label>
    <select asp-for="ChurchId" asp-items="Model.Churches" class="form-control"></select>
    <span asp-validation-for="ChurchId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PhotoFile" class="control-label"></label>
    <input asp-for="PhotoFile" type="file" class="form-control" />
    <span asp-validation-for="PhotoFile" class="text-danger"></span>
</div>
